* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.footer {
  width: 100%;
  padding: 30px 40px;
  background: #f6f6f6;
}

.footer .container {
  display: flex;
  max-width: 55%;
}

.footer .container .right_box {
  padding: 10px 20px;
  width: 100%;
}

.footer .container .right_box .bottom {
  margin-top: 20px;
  padding: 20px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer .container .right_box .bottom .box h3 {
  text-transform: uppercase;
  color: #232323;
  font-size: 14px;
  letter-spacing: 1px;
}

.footer .container .right_box .bottom .box ul {
  margin-top: 10px;
}

.footer .container .right_box .bottom .box ul li {
  list-style: none;
  margin-top: 5px;
  color: #8a8a8a;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transform: 0.5s;
}

.footer .container .right_box .bottom .box ul li:hover {
  color: #cd1e76;
}

/* 手機RWD */
@media screen and (max-width: 500px) {
  .footer {
    display: none;
  }
}
